<footer>
    <div class="container">
        <div class="is-pulled-left">
            &copy; 2019 Developers For Future
            <span class="contact-icons">
                <a href="https://twitter.com/devsforfuture" target="_blank"><span class="icon"><i class="fab fa-twitter"></i></span></a>
                <a href="https://gitlab.com/developersforfuture" target="_blank"><span class="icon"><i class="fab fa-gitlab"></i></span></a>
                <a href="mailto:info@developersforfuture.org" target="_blank"><span class="icon"><i class="fas fa-envelope"></i></span></a>
            </span>
        </div>
        <div class="is-pulled-right legal-links">
        </div>
    </div>
</footer>

