{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <section class="section">
            <div class="field is-vertical">
                <div class="field-label is-normal">
                    <label class="label">URL to check:</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-primary is-medium" type="text" placeholder="Insert the url to the article to verify or check">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <table class="table">
                <thead>
                <tr>
                    <th><abbr title="Position">Pos</abbr></th>
                    <th>Link</th>
                    <th><abbr title="Publication Company">Publication-Company</abbr></th>
                    <th><abbr title="Checked">Checked</abbr></th>
                    <th><abbr title="Fake-Level">Fake Level</abbr></th>s
                    <th><abbr title="Article">Link to Article</abbr></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th><abbr title="Position">Pos</abbr></th>
                    <th>Link</th>
                    <th><abbr title="Publication Company">Publication-Company</abbr></th>
                    <th><abbr title="Checked">Checked</abbr></th>
                    <th><abbr title="Fake-Level">Fake Level</abbr></th>
                    <th><abbr title="Article">Link to Article</abbr></th>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <th>1</th>
                    <td>
                        <a href="https://www.instituteforenergyresearch.org/international-issues/electric-vehicles-in-germany-emit-more-carbon-dioxide-than-diesel-vehicles/?fbclid=IwAR02Vho1NGR5YVC1XWvfoA4FbRkurtwvVlkOlo9VUSWrUITheSvt7RB6sy8" title="Electric Vehicles in Germany Emit More Carbon Dioxide Than Diesel Vehicles">Electric Vehicles in Germany Emit More Carbon Dioxide Than Diesel Vehicles</a>
                    </td>
                    <td>
                        <a href="https://www.instituteforenergyresearch.org/about/" title="Institute for Energy">Institute for Energy"</a>
                    </td>
                    <td>No</td>
                    <td>Almost Fake</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}
